<div class="container pt-5">
  <div class="row">
    <div class="col-10 offset-1 col-lg-4 offset-lg-4">

      <mat-card class="p-5">

        <mat-card-header class="d-flex justify-content-center">
          <mat-card-title>Iniciar sesión</mat-card-title>
        </mat-card-header>

        <br>

        <mat-card-content class="d-flex justify-content-center">
          <button mat-raised-button (click)="loginGoogle()">
            <img src="../../../assets/images/buttons/google.svg" alt="button google" class="img-google">
            Continuar con Google
          </button>
        </mat-card-content>
      </mat-card>

    </div>
  </div>
</div>
