<ng-container *ngIf="authSvc.user$ | async as user; else noLogin">
  <!--Toolbar -->
  <mat-toolbar color="primary">
    <button (click)="drawer.toggle()" mat-icon-button class="btn-toggle">
      <mat-icon>menu</mat-icon>
    </button>
    <span [routerLink]="'dashboard'">Mi Bolsillo</span>
    <span class="toolbar-spacer"></span>

    <button mat-icon-button class="btn-collapse">
      {{user.displayName}}
      <mat-icon>account_circle</mat-icon>
    </button>

    <button mat-icon-button class="btn-collapse" (click)="logout()">
      Cerrar sesión
      <mat-icon>logout</mat-icon>
    </button>

  </mat-toolbar>

  <mat-drawer-container class="example-container" (click)="drawer.close()">
    <mat-drawer #drawer class="drawer-menu" mode="side">

      <mat-nav-list>
        <mat-list-item>
          <button mat-icon-button class="btn-toggle">
            {{user.displayName}}
            <mat-icon>account_circle</mat-icon>
          </button>
        </mat-list-item>

        <mat-list-item>
          <button mat-icon-button class="btn-toggle" (click)="logout()">
            Cerrar sesión
            <mat-icon>logout</mat-icon>
          </button>
        </mat-list-item>

      </mat-nav-list>


    </mat-drawer>

    <div class="example-sidenav-content">
      <div class="container pt-4">
        <router-outlet></router-outlet>
      </div>
    </div>

  </mat-drawer-container>

</ng-container>


<ng-template #noLogin>
  <router-outlet></router-outlet>
</ng-template>
