ul {
  list-style-type: none;
  padding: 10px;
}

li {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.pocket-name {
  width: 75%;
  line-height: 30px;
  font-size: 16px;
}
.pocket-name:hover{
  cursor:pointer;
}

.buttons {
  width: 25%;
  display: flex;
  justify-content: flex-end;
}


a {
  cursor: pointer;
}
